.title {
	color: sandybrown;
}

a {
	color: yellowgreen;
}

#block-one {
	color: red;
}

.sub-title {
	color: #000000;
}

.block-two p {
	color: violet;
}

.block-three.three {
	color: blue;
}

.block-four > p {
	color:orange;
}

.block-five ~ p {
	color: green;
}

.block-six,
.block-seven {
	color: gray;
}