@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Bold.woff2") format("woff2"),
		  url("../fonts/Larsseit-Bold.woff") format("woff");
	font-display: swap;
	font-weight: 900;
	font-style: normal;
}

@font-face {
	font-family: 'Larsseit';
	src: url('../fonts/Larsseit-Medium.woff2') format("woff"),
		  url('../fonts/Larsseit-Medium.woff') format("woff");
	font-display: swap;
	font-weight: 500;
	font-style: normal;
}

body {
	font-family: 'Roboto' sans-serif;
	font-weight: 400;
}

ol li {
	font-family: "Larsseit";
	font-weight: 900;
}

.title {
	font-family: "Larsseit";
	font-weight: 900;
	color: red;
}

.stroke {
	font-family: "Roboto";
	font-weight: 500;
}

.text > h3 {
	font-family: "Lato";
	font-weight: 700;
	color: #0826ea;
}

.sub-title ~ ul li {
	font-family: "Larsseit";
	font-weight: 900;
}

.text-next {
	font-family: "Larsseit";
	font-weight: 500;
	color: #08be08;
}

.text-next ~ a {
	font-family: "Lato";
	font-weight: 900;
	color: #666666;
}